*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Custom Properties*/

:root {
  --ff-primary: "Bebas Neue", cursive;
  --ff-secondary : font-family: 'Gemunu Libre', sans-serif;

  --fw-reg : 300;
  --fw-bold : 1000;

  --clr-light : #fff;
  --clr-dark : #303030;
  --clr-accent : #16e0bd;
  --clr-services : #e0ba16;

  --fs-h1 : 3rem;
  --fs-h2 : 2.25rem;
  --fs-h3 : 1.5rem;
  --fs-body : 1rem;

  --bs : 0.25em .25em .07em rgba(0 , 0 , 0 , .25);
  
}

@media (min-width : 800px){
  :root{
    --fs-h1 : 4.5rem;
    --fs-h2 : 3.75rem;
    --fs-h3 : 2rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */ 
body{
  background-color : var(--clr-light);
  color: var(--clr-dark);
  margin : 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height : 1.8;
}

section{
  padding : 5em 2em;
}

img{
  display : block;
  max-width: 100%;
}

:focus{
  outline : 3px solid var(--clr-accent);
  outline-offset: 3px; 
}

/* Typography */
h1,
h2,
h3{
  line-height: 1.1;
  margin : 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}  

strong{font-weight: var(--fw-bold);}

.section-title{
  margin-bottom: .50rem;
}

.section-title-intro{
  font-weight: var(--fw-reg);
  margin-left: 10px;
}

.section-title-intro strong{
  display : block;
}

.section-subtitle{
  margin : 0;
  font-size : var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-about{
  background-color: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-top: 20px;
  font-size: 2.5re;
}

/* Buttons */

.btn{
  display: inline-block;
  padding: .5em 1.5em;
  background-color: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor:pointer;
  font-size: 1.5rem;
  text-transform: upper;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover{
  transform : scale(1.1);
}

/* Header */

.nav{display : none;}

/* Intro section */

@media (min-width : 600px){
  .intro{
    display:grid;
    width: min-content;
    margin : 0 auto;
    grid-template-areas: 
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro-img{
    grid-area : img;
    min-width: 550px;
    position : relative;
    z-index: 2;
  }

  .section-subtitle-intro{
    align-self:start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position : relative;

  }
}

.intro{
  position: relative;
}

.intro-img{
  box-shadow: var(--bs);
  width: 100%;
}

/* Services */

.my-services{
  background-color : var(--clr-dark);
  background-image : url(../images/services.jpg);
  background-size : cover; 
  color : var(--clr-light);
  text-align: center;
}

.section-title-services{
  color : var(--clr-accent);
  position:relative;
}

.services{
  color:var(--clr-light);
}

.section-title-services::after{
  content : '';
  display:block;
  width: 25%;
  height: 1px;
  margin : 0.5em auto 1em;
  background : var(--clr-light);
  opacity: 0.35;
}

/* About */

.about-me{
  max-width: 1000px;
  margin : 0 auto;
}

@media (min-width : 600px){
  .about-me{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
    "title img"
    "subtitle img"
    "text img";
  }

  .section-subtitle-about{
    grid-area : title;
  }

  .about-img{
    grid-area : img
  }

}